div{
    background-color: rgb(217, 255, 216);
     border-radius: 10px; 
     border: 2px solid #000000;
}
.s1{
    table-layout: fixed;
    width: 100%;
}
.s1{
    background-color: rgb(41, 92, 0);
    border-color: white;
    color: white;
}
.kekka wi{
    background-color:red;
    border: solid 2px black;
}
.win{
    background-color:yellow;
    border: solid 2px black;
}
.lose{
    background-color: rgb(0, 148, 217);
    border: solid 2px black;
}
table{
    background-color: white;

}
.bting th{
    background-color: #867c7c;
}
.table{
    background-color: white;

}
.pich th{
    background-color: #867c7c;
}
.w{
    background-color:yellow;
    border: solid 2px black;
}
.l{
    background-color: rgb(0, 148, 217);
    border: solid 2px black;
}
.wine{
    background-color:red;
    border: solid 2px black;
}
